<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Img url</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.description %></td>
        <td><%= p.img_url %></td>
        <td><%= p.price %></td>
        <td><%= p.category %></td>
        <td><%= link_to 'Show', p %></td>
        <td><%= link_to 'Edit', edit_product_path(p) %></td>
        <td><%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New product', new_product_path %>